/*#############################################################
Name: Summer Breeze
Date: 2006-07-04
Author: Viktor Persson
Edited by Gustav Eek and Stefan Kangas
URL: http://arcsin.se

Feel free to use and modify but please provide credits.
#############################################################*/

/* standard elements */
*
{
  font: normal 1em "Lucida Sans Unicode",sans-serif;
  margin: 0; padding: 0;
}
a
{
  color: #362;
}
a:hover, .footer a:hover
{
    color: #111;
}
body
{	
  background: #769359 url(img/bg.jpg) repeat-y center top;
  color: #443;
  font-size: 100%;
  margin: 0;
  text-align: center;
}
p,cite,code,ul
{
  font-size: 0.8em;
  margin-bottom: 1.7em;
  line-height: 1.7em;
  text-align: left;
}
i
{
  font-style: italic;
}
b
{ 
  font-style: bold;
}
h1
{
  font: normal 1.2em "Lucida Sans Unicode",sans-serif;
}
ul
{
  margin-left: 1em;
}
li
{
  list-style: url(img/li.gif);
  line-height: 1.7em;
  margin-left: 18px;
  margin-bottom: 0.5em;
}
table
{ 
  margin-left: 1.8em;
}
td
{ 
  font-size: 0.8em;
  padding-right: 0.5em;
}
div.square
{
  background: url(img/bgcode.gif);
  border: 1px dotted #AAA;
  color: #444;
  display: float;
  float: right;
  width: 30%;
  font: normal 1em "Lucida Sans Unicode",serif;
  margin-left: 2em;
  margin-bottom: 1em;
  padding: 8px 10px;
}

code {
	background: url(img/bgcode.gif);
	border: 1px dotted #AAA;
	color: #444;
	display: block;
	font: normal 1em "Lucida Sans Unicode",serif;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}

cite {
	display: block;
	background: url(img/quote.gif) no-repeat;
	color: #663;
	font: normal 1.1em "Lucida Sans Unicode",serif;
	padding-left: 28px;
}

/* misc */
.divider {
	background: url(img/divider.gif) no-repeat;
	height: 24px;
	margin: 16px 0;
}
.clearer {
	clear: both;
}

/* structure */
p.incitement
{ 
  text-align: center;
}

.container {
	font-size: 1em;
	margin: 0 auto;
	width: 590px;
}

/* header */
.header
{
  background: #597F93 url(img/header.jpg) no-repeat center top;
  border-bottom: 1px solid #CCC;
  height: 180px;
  text-align: center;
}
.header h1
{
  color: #FFF;
  font: normal 50px "Trebuchet MS",sans-serif;
  line-height: 180px;
}
/* navigation */
.navigation
{
  text-align: left;
  height: 36px;
  margin: 0 auto;
  /* width: 632px; */
  width: 600px;
}
.navigation a
{
  background: url(img/navigation.jpg) no-repeat;
  color: #FFF;
  float: left;
  font: bold 16px serif;
  height: 31px;
  letter-spacing: 1px;
  line-height: 31px;
  text-align: center;
  text-decoration: none;
  width: 120px;
}
.navigation a:hover
{
  color: #FFF;
  background-position: left bottom;
}
/* content */
.content
{
  padding: 18px 0;
  text-align: left;
}
.content h1
{
  color: #553;
  font-size: 1.4em;
  margin-bottom: 1em;
  text-align: center;
}
.content h2 /* equivalent to h1 above */
{
  color: #553;
  font-size: 1.4em;
  margin-bottom: 1em;
  text-align: center;
}
.content h3
{
  font: normal 1em "Lucida Sans Unicode",sans-serif;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

/* special styles */
.square h1
{ 
  font: bold 0.8em "Lucida Sans Unicode",sans-serif;
  margin-bottom: 0.2em;
}
.square p
{ 
  border-top: dotted 1px black;
  padding-top: 5px;
  text-align: left;
  margin-bottom: 0em;
}
.header a.translate
{ 
  color: #FFF;
  font-size: 0.8em;
  position: relative;
  top: -170px;
  left: -235px;
}
.header a.translate:hover
{ 
  color: #00F;
}
/* footer */
.footer
{
  color: #886;
  font-size: 0.65em;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 12px;
  text-align: center;
}
.footer a
{
  color: #664;
}
